curl/test/Project/DerivedData/CompiledCode/*
*.DS_Store
curl/test/userPreferences.miyako/*
curl/test/Data/*
curl/test/Libraries/lib4d-arm64.dylib
curl/build/*
curl/.vs/*
curl/Objs/*
curl/test/Plugins/cURL.bundle/Contents/Windows64/cURL.exp
curl/test/Plugins/cURL.bundle/Contents/Windows64/cURL.lib
curl/test/userPreferences.*
